files:
    "/tmp/install_arabic_font.sh":
        mode: 700
        owner: root
        group: root
        content: |
            content: |
            #!/bin/bash
            yum update -y
            yum install -y google-noto-sans-arabic-fonts fontconfig
            dnf install 'langpacks-core-font-*' -y
            fc-cache -fv
container_commands:
    00_run_command:
        command: "/tmp/install_arabic_font.sh"
