commands:
  01_add_grafana_repo:
    command: |
      wget -q -O /tmp/grafana.key https://rpm.grafana.com/gpg.key
      rpm --import /tmp/grafana.key
      echo -e '[grafana]\nname=grafana\nbaseurl=https://rpm.grafana.com\nrepo_gpgcheck=1\nenabled=1\ngpgcheck=1\ngpgkey=https://rpm.grafana.com/gpg.key\nsslverify=1\nsslcacert=/etc/pki/tls/certs/ca-bundle.crt' | tee /etc/yum.repos.d/grafana.repo

  02_install_alloy:
    command: yum install -y alloy

  03_create_otel_dir:
   command: "mkdir -p /opt/otel"
  04_download_otel_agent:
   command: "wget https://github.com/open-telemetry/opentelemetry-java-instrumentation/releases/latest/download/opentelemetry-javaagent.jar -O /opt/otel/opentelemetry-javaagent.jar"
  05_create_pyro_dir:
   command: "mkdir -p /opt/pyroscope"
  06_download_pyro_agent:
   command: "curl -L https://github.com/grafana/pyroscope-java/releases/latest/download/pyroscope.jar -o /opt/pyroscope/pyroscope.jar"
  07_restart_alloy:
    command: systemctl restart alloy