commands:
  01_add_grafana_repo:
    command: |
      sudo wget -q -O /tmp/grafana.key https://rpm.grafana.com/gpg.key
      sudo rpm --import /tmp/grafana.key
      echo -e '[grafana]\nname=grafana\nbaseurl=https://rpm.grafana.com\nrepo_gpgcheck=1\nenabled=1\ngpgcheck=1\ngpgkey=https://rpm.grafana.com/gpg.key\nsslverify=1\nsslcacert=/etc/pki/tls/certs/ca-bundle.crt' | sudo tee /etc/yum.repos.d/grafana.repo

  02_install_alloy:
    command: sudo yum install -y alloy

  03_install_unzip:
    command: sudo yum install -y unzip

  09_restart_alloy:
    command: sudo systemctl restart alloy
