/* Footer CSS */
footer {
  padding-left: var(--padding-left, 15px);
  padding-right: var(--padding-right, 15px);
  padding-bottom:  var(--padding-bottom, 15px);
  margin-bottom: 1px; /* This is to fix footer bottom border visibility */
}

body.repeat-header-footer footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100%;
}