/* Footer CSS */
footer {
  padding-left: var(--header-footer-body-padding, 15px);
  padding-right: var(--header-footer-body-padding, 15px);
  margin-bottom: 1px; /* This is to fix footer bottom border visibility */
}

body.repeat-header-footer footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100%;
}

.signature-image {
  max-width: 160px;
}