/* Header CSS */
header {
  padding-left: var(--header-footer-body-padding, 15px);
  padding-right: var(--header-footer-body-padding, 15px);
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  z-index: 9;
  display: table-header-group;
}


header .qr-code-image {
  aspect-ratio: 1/1;
}

header .pdf-title {
  font-size: var(--font-size-large, 20px);
  text-transform: capitalize;
}
