/* Header CSS */
header {
  padding: var(--header-footer-body-padding, 15px) var(--header-footer-body-padding, 15px) 10px var(--header-footer-body-padding, 15px);
}

header .qr-code-image {
  aspect-ratio: 1/1;
}

header .pdf-title {
  font-size: var(--font-size-large, 20px);
}

header address {
  white-space: pre-line;
  font-style: normal;
}
