/* Header CSS */
header {
  padding-left: var(--header-footer-body-padding, 15px);
  padding-right: var(--header-footer-body-padding, 15px);
}

header .qr-code-image {
  aspect-ratio: 1/1;
}

header .pdf-title {
  font-size: var(--font-size-large, 20px);
  text-transform: capitalize;
}
