@model InvoiceData.Root
@using InvoiceData

@functions {
    public string GetLabel(string settingName)
    {
        var setting = GetSetting(settingName);
        return setting?.Display == true ? setting.Label : string.Empty;
    }

    public bool GetDisplayStatus(string settingName)
    {
        var setting = GetSetting(settingName);
        return setting?.Display == true;
    }

    private Setting? GetSetting(string settingName)
    {
        return Model?.Settings?.GetType().GetProperty(settingName)?.GetValue(Model.Settings) as Setting;
    }
}

<footer style="height:calc(42.5mm)">
    <table class="h-inherit">
        <tbody>
            <tr>
                <td class="border-top p-0">
                    Footer
                </td>
            </tr>
        </tbody>
    </table>
</footer>
