@model InvoiceData.Root
@using InvoiceData

@functions {
    public string GetLabel(string settingName)
    {
        var setting = GetSetting(settingName);
        return setting?.Display == true ? setting.Label ?? string.Empty : string.Empty;
    }

    public bool GetDisplayStatus(string settingName)
    {
        var setting = GetSetting(settingName);
        return setting?.Display == true;
    }

    private Setting? GetSetting(string settingName)
    {
        return Model?.Settings?.GetType().GetProperty(settingName)?.GetValue(Model.Settings) as Setting;
    }
}

<footer style="margin-bottom: 20px; @(Model?.ShowSectionsInline == true ? "flex-grow: 1" : "")">
    <table class="page-break-inside-avoid h-100">
        <tbody>
            <tr>
                <td class="p-0 border-none border-left border-right border-bottom vertical-align-bottom">
                    <table style="margin-top: 50px;">
                        <tbody>
                            <tr>
                                <td class="p-0 border-none vertical-align-bottom">
                                    <table class="mr-t1">
                                        <tr>
                                            <td class="border-none border-right" width="50%" rowspan="2">
                                                @if (GetDisplayStatus("Message1"))
                                                {
                                                    <u>Declaration:</u>
                                                    <p class="margin-0">
                                                        @GetLabel("Message1")
                                                    </p>
                                                }
                                            </td>
                                            @if (GetDisplayStatus("FooterCompanyName"))
                                            {
                                                <td class="border-none border-top" width="50%">
                                                    <p class="text-right pd-r1">for @Model?.Company?.Name</p>
                                                </td>
                                            }
                                        </tr>
                                        @if (GetDisplayStatus("TextUnderSlogan") || GetDisplayStatus("ImageSignature"))
                                        {
                                            <tr>
                                                <td class="border-none text-right pd-r1">
                                                    @if (GetDisplayStatus("ImageSignature") && !string.IsNullOrEmpty(Model?.ImageSignature))
                                                    {
                                                        <div>
                                                            <img src="@Model.ImageSignature" height="60px" />
                                                        </div>
                                                    }

                                                    @if (GetDisplayStatus("TextUnderSlogan"))
                                                    {
                                                        @GetLabel("TextUnderSlogan")
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</footer>
