/* Global CSS Variables */
@property --font-family {
  syntax: "<string>";
  inherits: true;
  initial-value: "Inter"; /* 'Roboto' | 'Open Sans' | 'Lato' | 'Inter' */
}
@property --font-weight-200 {
  syntax: "<integer>";
  inherits: true;
  initial-value: 200;
}
@property --font-weight-400 {
  syntax: "<integer>";
  inherits: true;
  initial-value: 400;
}
@property --font-weight-500 {
  syntax: "<integer>";
  inherits: true;
  initial-value: 500;
}
@property --font-weight-700 {
  syntax: "<integer>";
  inherits: true;
  initial-value: 700;
}
@property --font-size-default {
  syntax: "<length>";
  inherits: true;
  initial-value: 14px;
}
@property --font-size-large {
  syntax: "<length>";
  inherits: true;
  initial-value: 18px;
}
@property --font-size-medium {
  syntax: "<length>";
  inherits: true;
  initial-value: 12px;
}
@property --font-size-small {
  syntax: "<length>";
  inherits: true;
  initial-value: 10px;
}
@property --color-primary {
  syntax: "<color>";
  inherits: true;
  initial-value: #181b50;
}
@property --color-secondary {
  syntax: "<color>";
  inherits: true;
  initial-value: #ffffff;
}
@property --color-light {
  syntax: "<color>";
  inherits: true;
  initial-value: #262626;
}
@property --color-light-gray {
  syntax: "<color>";
  inherits: true;
  initial-value: #7c7c7c;
}

:root {
  --header-height: 0px;
  --footer-height: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
}

html,
body {
  color: #000000;
  font-family: var(--font-family, "Inter");
  font-size: var(--font-size-default, 14px);
  font-weight: var(--font-weight-400, 400);
  line-height: 1.4;
  letter-spacing: 0.01em;
  font-variant-numeric: tabular-nums; 
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-default, 14px);
}

/* Utility */
.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-light {
  color: var(--color-light) !important;
}

.color-light-gray {
  color: var(--color-light-gray) !important;
}

.font-size-large {
  font-size: var(--font-size-large, 18px) !important;
}

.font-size-small {
  font-size: var(--font-size-small, 10px) !important;
}

.font-weight-500 {
  font-weight: var(--font-weight-500, 500);
}

.font-weight-700 {
  font-weight: var(--font-weight-700, 700);
}

strong {
  font-weight: var(--font-weight-700, 700);
}

address {
  white-space: pre-line;
  font-style: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr th,
table tr td {
  border: none;
  text-align: left;
  padding: 2px;
  word-break: break-word;
}

.vertical-align-top {
  vertical-align: top;
}

.vertical-align-middle {
  vertical-align: middle;
}

.vertical-align-bottom {
  vertical-align: bottom;
}


.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}


.mr-t05 {
  margin-top: 5px !important;
}


.mr-t2 {
  margin-top: 20px !important;
}


.mr-b05 {
  margin-bottom: 5px !important;
}


.p-0 {
  padding: 0;
}
.py-0 {
  padding-block: 0;
}

.pd-l1 {
  padding-left: 10px !important;
}


.pd-t2 {
  padding-top: 20px !important;
}


.pd-t05 {
  padding-top: 5px !important;
}

.pd-b05 {
  padding-bottom: 5px !important;
}

.pd-1 {
  padding: 10px !important;
}

.pd-15 {
  padding: 15px !important;
}


/* Need to correct name */
.no-wrap {
  white-space: nowrap !important;
}
/* Need to correct name */
.word-break {
  word-wrap: break-word !important;
}


.square-image {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

/* Print Media CSS */
@media print {
  table {
    page-break-inside: auto;
    page-break-after: auto;
  }

  tfoot {
    display: table-row-group; /* Ensure it's treated as a group of rows *
    visibility: hidden; /* Hide it by default */
  }

  table:last-of-type tfoot {
    visibility: visible; /* Only show the footer on the last table */
  }

  table.repeated-header > thead {
    display: table-header-group !important; /* Ensure headers repeat on each page */
  }

  table.repeated-footer > tfoot {
    display: table-footer-group !important; /* Ensure footers repeat on each page */
  }

  table.page-break-inside-avoid {
    page-break-inside: avoid !important; /* Prevent table from being cut between pages */
  }
}

@page { 
  @bottom-center {
     content: "(" counter(page) ")"; /* counter(page) for current page  | counter(pages) for Total Page */
     font-style: bold;
     margin-bottom: 6px;
  }
}

@page:first {
  @bottom-center {
     content: ""; /* Empty content to hide footer */
     margin-bottom: 0;
  }
}
@page {
  margin: 0.5in;
  size: A4;
}